<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>凡学子的博客</title>
    <!-- 引入通用的CSS文件 -->
    <link rel="stylesheet" href="/css/tailwind-like.css">
    <!-- 引入新的 section-styles.css 文件 -->
    <link rel="stylesheet" href="/css/section-styles.css">
    {# 引入search-bar的css，覆盖第三方样式 #}
    <link rel="stylesheet" href="/css/search-bar.css">

    {# 引入meili search css#}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/docs-searchbar.js@latest/dist/cdn/docs-searchbar.min.css"
    />

</head>

<body>
    <nav>
        <div class="container">
            <a href="/">题匾</a>
            <a href="/blog/">修斋</a>
            <a href="/about/">无我</a>
            <a href="/social/">江湖</a>
        </div>
    </nav>
  
    <div class="container">
        <!-- 搜索框 -->
        {# <div id="search-container" class="mb-4">
            <input type="text" id="search-input" placeholder="搜索博客文章...">
            <div id="search-results"></div>
        </div> #}

        {# meili search #}
        <input type="search" id="search-bar-input" placeholder="搜索博客文章..." />
        <br>
        <section class="section">
            {% block content %} {% endblock %}
        </section>
    </div>

  {# meili search的js代码 #}
  <script src="https://cdn.jsdelivr.net/npm/docs-searchbar.js@latest/dist/cdn/docs-searchbar.min.js"></script>
  <script>
    docsSearchBar({
      hostUrl: 'http://127.0.0.1:7700',
      apiKey: 'VEw9h1k99fgUolpnU6htXtLp20eEFYqte0WRxsWfjaY',
      indexUid: 'docs',
      inputSelector: '#search-bar-input',
      debug: true, // Set debug to true if you want to inspect the dropdown
      meilisearchOptions: {
        limit: 10,
      },
    })
  </script>
</body>

</html>