<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    {# 支持移动端 #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 微信分享功能 -->
     <!-- 引入 qrcode.js 库 -->
     <!-- <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script> -->
     <!-- <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script> -->
    {% block meta %}
    <!-- 默认的 meta 标签 -->
    <meta property="og:title" content="凡学子的博客">
    <meta property="og:description" content="凡学子的博客">
    <meta property="og:image" content="https://linxz.online/icons8-pen-32.png">
    <meta property="og:url" content="https://linxz.online">
    {% endblock meta %}

    <!-- 百度站点验证 -->
    <meta name="baidu-site-verification" content="codeva-0MxZ0uNvvd" />
    <title>凡学子的博客</title>
    {# 引入favicon #}
    <link type="image/png" sizes="16x16" rel="icon" href="/icons8-pen-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/icons8-pen-32.png">
    <!-- 引入通用的CSS文件 -->
    <link rel="stylesheet" href="/css/tailwind-like.css?v=20241122161100">
    <!-- 引入新的 section-styles.css 文件 -->
    <link rel="stylesheet" href="/css/section-styles.css">
    {# 引入markdown-table样式 #}
    <link rel="stylesheet" href="/css/markdown-table.css">
    {# 引入代码块pre美化的css文件 #}
    <link rel="stylesheet" href="/css/pre.css">
    {# 引入home里面的超链接美化css #}
    <link rel="stylesheet" href="/css/home-post.css">
    {# 引入双击图片放大的css #}
    <link rel="stylesheet" href="/css/img-zoom.css">
    <!-- 引入page-beauty的css文件 -->
    <link rel="stylesheet" href="/css/page-beauty.css">
    {# 引入search-bar的css，覆盖第三方样式 #}
    <link rel="stylesheet" href="/css/search-bar.css">

    <!--引入数学公式 -->
    <!-- 添加 KaTeX CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
    <!-- 添加 KaTeX JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <!-- 添加 auto-render 扩展，用于自动渲染页面中的数学公式 -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"></script>

    {# 引入meili search css#}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/docs-searchbar.js@latest/dist/cdn/docs-searchbar.min.css"
    />

</head>

<body>
    <nav>
        <div class="container">
            <a href="/">题匾</a>
            <a href="/shorts/">片念</a>
            <a href="/blog/">修斋</a>
            <a href="/books/">书卷</a>
            <a href="/about/">无我</a>
            <a href="/social/">江湖</a>
            <a href="/family-letters/">林氏家书</a>
            <a href="/starry-night/">星辰</a>
        </div>
    </nav>
  
    <div class="container">
        <!-- 搜索框 -->
        {# <div id="search-container" class="mb-4">
            <input type="text" id="search-input" placeholder="搜索博客文章...">
            <div id="search-results"></div>
        </div> #}

        {# meili search #}
        <input type="search" id="search-bar-input" placeholder="寻寻觅觅..." />

        <br>
        <section class="section">
            {% block content %} {% endblock %}
        </section>
    </div>

  {# 加快字体加载速度 #}
  <script>
    // 创建一个 FontFace 对象，使用 WOFF2 文件
    const font = new FontFace('Taipei-Sans-TC-Beta-Light-2', 'url(/fonts/Taipei-Sans-TC-Beta-Light-2.woff2)');

    // 加载字体
    font.load().then(function(loadedFont) {
        // 将加载的字体添加到文档中
        document.fonts.add(loadedFont);
        // 应用自定义字体
        document.body.classList.add('custom-font');
    }).catch(function(error) {
        console.error('字体加载失败:', error);
    });
</script>

  {# meili search的js代码 #}
  <script src="https://cdn.jsdelivr.net/npm/docs-searchbar.js@latest/dist/cdn/docs-searchbar.min.js"></script>
  <script>
    docsSearchBar({
      hostUrl: 'https://meilisearch.linxz.online',
      apiKey: 'VEw9h1k99fgUolpnU6htXtLp20eEFYqte0WRxsWfjaY',
      indexUid: 'docs',
      inputSelector: '#search-bar-input',
      debug: true, // Set debug to true if you want to inspect the dropdown
      meilisearchOptions: {
        limit: 10,
      },
    })
  </script>

      <!-- 配置 KaTeX 自动渲染 -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "$", right: "$", display: false},
                    {left: "\\[", right: "\\]", display: true},
                    {left: "\\(", right: "\\)", display: false}
                ],
                throwOnError: false
            });
        });
    </script>

</body>

</html>
