{% extends "base.html" %}

{% block content %}


<h1 class="title">
  {{ page.title }}
</h1>

<p class="subtitle"><strong>{{ page.date }}</strong></p>

<!-- 目录，仅当设置了extra时有效 -->
{% if page.extra.toc %}
<div class="toc">
    <h2>目录</h2>
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<!-- 正文 -->
{{ page.content | safe }}

{# 引入图片双击放大 #}
<div class="overlay" id="overlay"></div>

{# 引入图片双击放大脚本 #}
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const images = document.querySelectorAll('img');
      const overlay = document.getElementById('overlay');

      images.forEach(img => {
          img.classList.add('zoomable');
          img.addEventListener('dblclick', function(e) {
              e.preventDefault(); // Prevent default double-click behavior (like text selection)
              this.classList.toggle('zoomed');
              overlay.style.display = this.classList.contains('zoomed') ? 'block' : 'none';
          });
      });

      overlay.addEventListener('click', function() {
          const zoomedImg = document.querySelector('.zoomed');
          if (zoomedImg) {
              zoomedImg.classList.remove('zoomed');
              overlay.style.display = 'none';
          }
      });
  });
</script>
{% endblock content %}